.logo {
    height: 90px;
    background-color: rgb(57, 71, 85);
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 80px;
  }
  .albums {
    background: rgb(45, 58, 70);
  }
  .disc-container {
    text-align: center;
    background: rgb(45, 58, 70);
  }
  .disc-box {
    background-color: rgb(57, 71, 85);
    width:200px;
    height: 400px;
    padding: 50px;
    margin: 20px ;
  }  
  .disc-box img {
    width: 100%;
  }
  .title {
    font-size: 24px;
    padding: 12px;
    line-height: 100%;
    margin-top: 12px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  .title-informations {
    margin-top: 12px;
    color: rgb(138, 138, 116);
    font-size: 20px;
  }
  .col-lg-12{
    width: 20%;
    float: left;
}
