.logo {
  height: 90px;
  background-color: rgb(57, 71, 85);
  display: flex;
  align-items: center;
}
.logo img {
  width: 80px;
}

.albums {
  background: rgb(45, 58, 70);
}
.disc-container {
  text-align: center;
  background: rgb(45, 58, 70);
}
.disc-box {
  background-color: rgb(57, 71, 85);
  height: 400\px;
  padding: 50px;
  margin: 20px ;
}
.disc-box img {
  width: 100%;
}
.title {
  font-size: 24px;
  padding: 12px;
  line-height: 100%;
  margin-top: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.box-informations {
  margin-top: 12px;
  color: rgb(119, 119, 108);
  font-size: 20px;
}

.col-lg-12{
    width: 20%;
    float: left;
}
@media (max-width: 992px){
    .col-md-12{
      width: calc(100% / 3);
      float:left;
    }
  };
   @media (max-width: 768px) {
    .col-sm-12 {
      width: 50%;
      float: left;
    }
  };
    @media (max-width: 568px){
     .col-xs-12{
       width:100%;
       float:left;
     }
   }
 